* {
 margin: 0;
 padding: 0;
}
#heading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 113, 116);
    padding: 15px;
 
}
.main-container{
    display: flex;
  
    justify-content: center;
    align-items: center;

}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
 
}
#botao-selecao{
  display: flex;
  margin:0;

}

.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}
